.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}
@media (min-width: 800px) {
    .grid-container{
        margin: 15px;
    }
}
@media (max-width: 800px) {
    .grid-container{
        margin: 5px;
    }
}
.div-paginate{
    text-align: center;
}
.btn-paginate{
    padding: 6px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: #244f3a;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.btn-paginate:disabled{
    background-color: #9cd3b8;
    cursor: auto;
}
.text-paginate{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}
.loading-post{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.loading-post-img{
    max-width: 100%;
    height: auto;
    width: 30%;
}