.div-login{
    position: relative;
    height: 100vh;
}
.section-login{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 95%;
    max-width: 400px;
    height: 340px;
    box-shadow: 7px 13px 37px #000;
    border-top: 5px solid;
}
.h1-login{
    margin-top: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid;
}
.div1-login{
    margin: auto;
    text-align: center;
}
.img-login{
    max-width: 100%;
    height: auto;
}
.btn-theme-login{
    float: right;
    margin-right: 5%;
    margin-top: 5px;
}
.btn-google{
    box-shadow: 2px 2px 10px #000 !important;
}